.c-navbar--cool{
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);

    a{
        font-weight: 300;
        font-family: 'Monda', sans-serif;
    }
    li{
        border-bottom: 3px solid transparent;
    }
    li:hover{
        border-bottom: 3px solid blue;
    }

}
