.c-slider{

}

.c-slider--speaker {
    background: trasparent;
    .c-slider__slide {
        text-align: center;
        img {
            height: 100px;
            width: 100px;
            border-radius: 50px;
            border: 1px solid #fff;
        }
    }
    .c-slider__title{
        padding-top: 10px;
        text-shadow: 0px 0px 2px #030303;
        font-family: 'Poiret One', cursive;
        font-size: 1.2em;
        font-weight:600;
        letter-spacing: 8px;
        text-align: center;
        margin: 0;
        a{
            color:#fff;
        }
    }
}
